<!-- Component Template -->
<div class="container">
  @if (!sendMailFlag) {
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-body p-5">
        <h2 class="text-center mb-4"><i class="fas fa-lock"></i> Forget Password</h2>
        <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
          <div class="form-floating mb-3">
            <input formControlName="email" class="form-control" id="email" type="email" placeholder="name@example.com">
            <label for="email">Email address</label>
          </div>
          @if (sendMailForm.get('email')?.errors !== null && sendMailForm.get('email')?.touched && sendMailError === '') {
            <div class="alert alert-danger mt-3">
              @if (sendMailForm.get('email')?.errors?.['required']) {
                <p><i class="fas fa-exclamation-circle"></i> Email is required</p>
              }
              @if (sendMailForm.get('email')?.errors?.['email']) {
                <p><i class="fas fa-exclamation-circle"></i> Invalid email format</p>
              }
            </div>
          }
          @if (sendMailError !== '') {
            <div class="alert alert-danger mt-3">
              <p><i class="fas fa-exclamation-circle"></i> {{sendMailError}}</p>
            </div>
          }
          <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
            <button [disabled]="sendMailForm.invalid" class="btn btn-primary">
              <i class="fas fa-paper-plane me-2"></i> Send Mail
            </button>
          </div>
        </form>
      </div>
    </div>
  }

  @if (sendMailFlag && !verifyCodeFlag) {
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-body p-5">
        <h2 class="text-center mb-4"><i class="fas fa-key"></i> Reset Code</h2>
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
          <div class="form-floating mb-3">
            <input formControlName="resetCode" class="form-control" id="resetCode" type="text" placeholder="Reset Code">
            <label for="resetCode">Reset Code</label>
          </div>
          @if (verifyCodeForm.get('resetCode')?.errors !== null && verifyCodeForm.get('resetCode')?.touched && verifyCodeError === '') {
            <div class="alert alert-danger mt-3">
              @if (verifyCodeForm.get('resetCode')?.errors?.['required']) {
                <p><i class="fas fa-exclamation-circle"></i> Reset Code is required</p>
              }
              @if (verifyCodeForm.get('resetCode')?.errors?.['maxlength']) {
                <p><i class="fas fa-exclamation-circle"></i> Invalid Reset Code</p>
              }
            </div>
          }
          @if (verifyCodeError !== '') {
            <div class="alert alert-danger mt-3">
              <p><i class="fas fa-exclamation-circle"></i> {{verifyCodeError}}</p>
            </div>
          }
          <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
            <button [disabled]="verifyCodeForm.invalid" class="btn btn-primary">
              <i class="fas fa-check-circle me-2"></i> Verify Code
            </button>
          </div>
        </form>
      </div>
    </div>
  }

  @if (verifyCodeFlag) {
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-body p-5">
        <h2 class="text-center mb-4"><i class="fas fa-key"></i> Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
          <div class="form-floating mb-3">
            <input formControlName="password" class="form-control" id="password" type="password" placeholder="Password">
            <label for="password">Password</label>
          </div>
          @if (resetPasswordForm.get('password')?.errors !== null && resetPasswordForm.get('password')?.touched) {
            <div class="alert alert-danger mt-3">
              @if (resetPasswordForm.get('password')?.errors?.['required']) {
                <p><i class="fas fa-exclamation-circle"></i> Password is required</p>
              }
              @if (resetPasswordForm.get('password')?.errors?.['minlength'] || resetPasswordForm.get('password')?.errors?.['maxlength']) {
                <p><i class="fas fa-exclamation-circle"></i> Password must be between 6 and 20 characters</p>
              }
            </div>
          }
          <div class="form-floating mb-3">
            <input formControlName="confirmPassword" class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password">
            <label for="confirmPassword">Confirm Password</label>
          </div>
          @if (resetPasswordForm.get('confirmPassword')?.errors !== null && resetPasswordForm.get('confirmPassword')?.touched && resetPasswordError === '') {
            <div class="alert alert-danger mt-3">
              @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
                <p><i class="fas fa-exclamation-circle"></i> Confirm Password is required</p>
              }
              @if (resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] || resetPasswordForm.get('confirmPassword')?.errors?.['maxlength']) {
                <p><i class="fas fa-exclamation-circle"></i> Confirm Password must be between 6 and 20 characters</p>
              }
            </div>
          }
          @if (resetPasswordError !== '') {
            <div class="alert alert-danger mt-3">
              <p><i class="fas fa-exclamation-circle"></i> {{resetPasswordError}}</p>
            </div>
          }
          <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
            <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary">
              <i class="fas fa-save me-2"></i> Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  }
</div>
